---
import GitIcon from "./GitIcon.astro"
---

<footer class="h-[25vh] w-full text-slate-50 flex flex-col justify-center items-center px-10 mt-32" style="background-image: linear-gradient(135deg, #172554 18%, #1e3a8a 86%);">
    <p class="text-sm text-center  md:text-base ">Puedes visitar el código fuente de este proyecto aquí </p> 
    <a href="https://github.com/Gonzalo-Erceg/blog" target="_blank" class="px-4 py-3  rounded-md flex items-center" style="background-image: linear-gradient(315deg, #1e3c72 10%, #2a5298 90%);"><GitIcon/><span>Código fuente</span></a>
</footer>